{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-8">
            <h2>Название: {{ snippet.name }}</h2>
        </div>
        <div class="col col-4">
            <h2>Дата создания: {{ snippet.created_at|date:"d.m.Y" }}</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="code-snippet p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                <pre><code>{{ snippet.code|linebreaksbr }}</code></pre>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col">
                <h3>Добавить комментарий</h3>
                <form action="{% url 'comment_add' snippet.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary">Добавить комментарий</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <p>Чтобы оставить комментарий, пожалуйста, <a href="{% url 'login' %}">войдите в систему</a>.</p>
            </div>
        </div>
    {% endif %}
    <hr>
    <div class="row">
        <div class="col">
            <h3>Комментарии</h3>
            {% for comment in snippet.comments.all %}
                <div class="comment mb-2">
                    <strong>{{ comment.author.username }}</strong> ({{ comment.creation_date|date:"d.m.Y H:i" }}) написал:
                    <div class="comment-text">
                        {{ comment.text|linebreaksbr }}
                        {% if comment.image %}
                            <img src="{{ comment.image.url }}" alt="Comment image" width="40" height="40">
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>К этому сниппету пока нет комментариев.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

