{% extends 'base.html' %}
{% load syntax_highlight %} <!-- Подключение вашего тега шаблона для подсветки кода -->

{% block title %}Просмотр сниппетов - PythonBin{% endblock %}

{% block content %}
<main role="main" class="mt-3 flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
                <div>
                    <form method="get" action="{% url 'view_snippets' %}">
                        <select name="lang" onchange="this.form.submit()">
                            <option value="">Все языки</option>
                            <option value="Python" {% if selected_language == "Python" %}selected{% endif %}>Python</option>
                            <option value="JavaScript" {% if selected_language == "JavaScript" %}selected{% endif %}>JavaScript</option>
                            <option value="C++" {% if selected_language == "C++" %}selected{% endif %}>C++</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной странице будут отображаться все созданные сниппеты.</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col"><a href="?sort=name">Название</a></th>
                        <th scope="col"><a href="?sort=creation_date">Дата создания</a></th>
                        <th scope="col">Действия</th>
                        <th scope="col">Код</th> <!-- Добавление заголовка для колонки с кодом -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                    <tr class="{% if not snippet.is_public %}table-secondary{% endif %}">
                        <td>{{ snippet.id }}</td>
                        <td><a href="{% url 'snippet_detail' snippet.id %}">{{ snippet.name }}</a></td>
                        <td>{{ snippet.creation_date }}</td>
                        <td>
                            {% if request.user.is_authenticated and snippet.author == request.user %}
                                <a href="{% url 'snippet_edit' snippet.id %}" class="btn btn-primary btn-sm">Редактировать</a>
                                <form action="{% url 'snippet_delete' snippet.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Вы уверены?');">Удалить</button>
                                </form>
                            {% else %}
                                <span>Недоступно</span>
                            {% endif %}
                        </td>
                        <td><pre>{{ snippet.code|syntax_highlight:"python"|safe }}</pre></td> <!-- Вставка подсвеченного кода -->
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{ snippets.count }}</i>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
